/**
  * General
  */
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 0 3rem;
}
