/**
  * General
  *
  **********************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;

  // Scrollbar custom
  &::-webkit-scrollbar {
    width: 1rem;

    &-thumb {
      background-color: $primary-color;

      &:hover {
        background-color: $darker-primary-color;
      }
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 0 3rem;
}
