@mixin buttonStyle($text-color, $primary-color) {
  color: $text-color;
  border: 0.13rem solid $primary-color;
  box-shadow: 0 0 0 2.7rem $primary-color inset;

  &:hover {
    color: $primary-color;
  }
}

@mixin mediasStyle($text-color, $hover-color) {
  color: $text-color;

  &:hover {
    color: $hover-color;
  }
}

@mixin responsive($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}
