// @mixin responsive($breakpoint) {
//   @if $breakpoint == $xs {
//     @media only screen and (max-width: $breakpoint) {
//       @content;
//     }
//   } @else {
//     @media only screen and (min-width: $breakpoint) {
//       @content;
//     }
//   }
// }

@mixin responsive($breakpoint) {
  @media only screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin buttonStyle($text-color, $primary-color) {
  color: $text-color;
  border: 0.13rem solid $primary-color;
  box-shadow: 0 0 0 2.7rem $primary-color inset;

  &:hover {
    color: $primary-color;
  }
}
