/**
  * About Us Section
  *
  **********************************************/
.about-us {
  padding: 6.5rem 0;
  background: url("../images/yellow_top_wave_01.png") top / contain no-repeat,
    url("../images/Violet_top_left_wave.png") bottom / contain no-repeat;

  &__subheading {
    margin-bottom: 1rem;

    color: $primary-color;
    font: {
      size: 1.7rem;
      weight: 600;
    }
  }

  &__heading {
    font: {
      size: 5.7rem;
      weight: 700;
    }

    @include responsive($lg) {
      font-size: 4.8rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }
}
