/**
  * Experts Section
  *
  **********************************************/
.experts {
  padding: 4rem 0 0 0;
  background: #dcd1f3 url("../images/Wave_White_bottom_right_shape_01.png")
    bottom/ contain no-repeat;

  &-item {
    margin-bottom: 3rem;
    border-radius: 1rem;
    overflow: hidden;

    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
    }
  }

  &__img {
    width: 100%;
    transition: transform 0.9s;

    &:hover {
      transform: scale(1.05);
    }

    &-box {
      overflow: hidden;
    }
  }

  &-body {
    padding: 2rem;
    background-color: #fff;
  }

  &__nationality {
    margin-bottom: 0.7rem;

    color: $primary-color;
    font: {
      size: 1.2rem;
      weight: 600;
    }
  }

  &__name {
    margin-bottom: 1.4rem;

    font: {
      size: 2.3rem;
      weight: 700;
    }
  }

  &__description {
    color: rgba(0, 0, 0, 0.7);
    font-size: 1.5rem;
  }

  .col-6 {
    @include responsive($sm) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
