/**
  * Header
  *
  **********************************************/
.header {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: transparent;

  &.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  @include responsive($xl) {
    background-color: #fff;
  }

  &-row {
    margin: 0;

    @include responsive($xl) {
      display: none;
    }

    &-responsive {
      display: none;

      @include responsive($xl) {
        display: flex;
      }

      > i {
        margin-right: 2rem;
        color: $primary-color;
        font: {
          size: 3.5rem;
          weight: 600;
        }
      }
    }
  }

  &__logo-link > img {
    max-width: 8rem;

    @include responsive($xl) {
      max-width: 5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &-nav-menu {
    display: flex;
    gap: 5rem;

    margin-right: 3rem;

    li.active::after {
      position: absolute;
      top: 190%;
      left: 50%;

      display: block;

      width: 1rem;
      height: 1rem;

      content: "";
      transform: translateX(-50%);

      border-radius: 50%;
      background-color: $primary-color;
    }

    &__link {
      color: #181818;
      font: {
        size: 1.3rem;
        weight: 600;
        family: "Montserrat", sans-serif;
      }

      transition: color 0.3s;

      &:hover {
        color: $primary-color;
      }
    }

    li {
      position: relative;

      &::after {
        position: absolute;
        top: 190%;
        left: 50%;

        display: block;

        width: 1rem;
        height: 1rem;

        content: "";
        transition: transform 0.3s;
        transform: translateX(-50%) scale(0);

        border-radius: 50%;
        background-color: $primary-color;
      }

      &:hover::after {
        transform: translateX(-50%) scale(1);
      }
    }
  }

  .btn-custom {
    font: {
      size: 1.3rem;
      weight: 500;
    }

    padding: 1.1rem 1.8rem;
  }
}
