/**
  * Header
  *
  **********************************************/
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: transparent;

  @include responsive($xl) {
    background-color: #fff;
  }

  &-row {
    margin: 0;

    @include responsive($xl) {
      display: none;
    }

    &-responsive {
      display: none;

      @include responsive($xl) {
        display: flex;
      }

      > i {
        margin-right: 2rem;
        font: {
          size: 3.5rem;
          weight: 600;
        }
      }
    }
  }

  &__logo-link > img {
    max-width: 8rem;
    @include responsive($xl) {
      max-width: 5rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  &-nav-menu {
    display: flex;
    gap: 5rem;

    margin-right: 3rem;

    &__link {
      color: #181818;
      font: {
        size: 1.3rem;
        weight: 600;
        family: "Montserrat", sans-serif;
      }

      transition: color 0.3s;

      &:hover {
        color: $primary-color;
      }
    }
  }

  .btn-custom {
    font: {
      size: 1.3rem;
      weight: 500;
    }

    padding: 1.1rem 1.8rem;
  }
}
