// Custom Button
.btn-custom {
  font: {
    family: "Montserrat", sans-serif;
    size: 1.2rem;
    weight: 600;
  }

  padding: 1.3rem;

  transition: box-shadow 0.3s, color 0.3s;
  letter-spacing: 0.08rem;

  border-radius: 99.9rem;
  background-color: transparent;

  &:hover {
    box-shadow: none;
  }

  &--primary {
    @include buttonStyle($text-color: #fff, $primary-color: $primary-color);
  }

  &--submit {
    @include buttonStyle($text-color: #181818, $primary-color: #fff);
  }
}
