/**
  * Medias Components
  *
  **********************************************/
.medias {
  display: flex;
  gap: 1.6rem;

  &__link {
    font-size: 1.3rem;
    transition: color 0.3s;

    &--header {
      @include mediasStyle($text-color: #000, $hover-color: $primary-color);
    }

    &--footer {
      @include mediasStyle($text-color: #fff, $hover-color: #000);
    }
  }
}
