/* Abstracts */
/* Base */
/**
  * Reset
  *
  **********************************************/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
}

a:hover {
  text-decoration: none;
}

/**
  * General
  *
  **********************************************/
html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
}

body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-thumb {
  background-color: #b61983;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #940f65;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}

.container-fluid {
  padding: 0 3rem;
}

/* Components */
/**
  * Custom Button
  *
  **********************************************/
.btn-custom {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.3rem 0;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s, color 0.3s;
  transition: box-shadow 0.3s, color 0.3s, -webkit-box-shadow 0.3s;
  letter-spacing: 0.08rem;
  border-radius: 99.9rem;
  background-color: transparent;
}

.btn-custom:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-custom--primary {
  color: #fff;
  border: 0.13rem solid #b61983;
  -webkit-box-shadow: 0 0 0 2.7rem #b61983 inset;
          box-shadow: 0 0 0 2.7rem #b61983 inset;
}

.btn-custom--primary:hover {
  color: #b61983;
}

.btn-custom--submit {
  color: #181818;
  border: 0.13rem solid #fff;
  -webkit-box-shadow: 0 0 0 2.7rem #fff inset;
          box-shadow: 0 0 0 2.7rem #fff inset;
}

.btn-custom--submit:hover {
  color: #fff;
}

/**
  * Medias Components
  *
  **********************************************/
.medias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.6rem;
}

.medias__link {
  font-size: 1.3rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.medias__link--header {
  color: #000;
}

.medias__link--header:hover {
  color: #b61983;
}

.medias__link--footer {
  color: #fff;
}

.medias__link--footer:hover {
  color: #000;
}

/* Layouts */
/**
  * Header
  *
  **********************************************/
.header {
  position: absolute;
  width: 100%;
  z-index: 999;
  background-color: transparent;
}

.header.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .header {
    background-color: #fff;
  }
}

.header-row {
  margin: 0;
}

@media only screen and (max-width: 1200px) {
  .header-row {
    display: none;
  }
}

.header-row-responsive {
  display: none;
}

@media only screen and (max-width: 1200px) {
  .header-row-responsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header-row-responsive > i {
  margin-right: 2rem;
  color: #b61983;
  font-size: 3.5rem;
  font-weight: 600;
}

.header__logo-link > img {
  max-width: 8rem;
}

@media only screen and (max-width: 1200px) {
  .header__logo-link > img {
    max-width: 5rem;
  }
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.header-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  margin-right: 3rem;
}

.header-nav-menu li.active::after {
  position: absolute;
  top: 190%;
  left: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  background-color: #b61983;
}

.header-nav-menu__link {
  color: #181818;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.header-nav-menu__link:hover {
  color: #b61983;
}

.header-nav-menu li {
  position: relative;
}

.header-nav-menu li::after {
  position: absolute;
  top: 190%;
  left: 50%;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  border-radius: 50%;
  background-color: #b61983;
}

.header-nav-menu li:hover::after {
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.header .btn-custom {
  font-size: 1.3rem;
  font-weight: 500;
  padding: 1.1rem 1.8rem;
}

/**
  * About Us Section
  *
  **********************************************/
.about-us {
  padding: 6.5rem 0;
  background: url("../images/yellow_top_wave_01.png") top/contain no-repeat, url("../images/Violet_top_left_wave.png") bottom/contain no-repeat;
}

@media only screen and (max-width: 992px) {
  .about-us {
    padding: 12rem 0 0 0;
  }
}

.about-us__subheading {
  margin-bottom: 1rem;
  color: #b61983;
  font-size: 1.7rem;
  font-weight: 600;
}

@media only screen and (max-width: 1200px) {
  .about-us__subheading {
    font-size: 1.5rem;
  }
}

.about-us__heading {
  font-size: 5.7rem;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .about-us__heading {
    font-size: 4.8rem;
  }
}

.about-us__img {
  display: block;
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .about-us__img {
    max-width: 60rem;
  }
}

/**
  * Experts Section
  *
  **********************************************/
.experts {
  padding: 4rem 0 0 0;
  background: #dcd1f3 url("../images/Wave_White_bottom_right_shape_01.png") bottom/contain no-repeat;
}

.experts-item {
  margin-bottom: 3rem;
  border-radius: 1rem;
  overflow: hidden;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.experts-item:hover {
  -webkit-box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.2);
}

.experts__img {
  width: 100%;
  -webkit-transition: -webkit-transform 0.9s;
  transition: -webkit-transform 0.9s;
  transition: transform 0.9s;
  transition: transform 0.9s, -webkit-transform 0.9s;
}

.experts__img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.experts__img-box {
  overflow: hidden;
}

.experts-body {
  padding: 2rem;
  background-color: #fff;
}

.experts__nationality {
  margin-bottom: 0.7rem;
  color: #b61983;
  font-size: 1.2rem;
  font-weight: 600;
}

.experts__name {
  margin-bottom: 1.4rem;
  font-size: 2.3rem;
  font-weight: 700;
}

.experts__description {
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.5rem;
}

@media only screen and (max-width: 480px) {
  .experts .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

/**
  * Contact Section
  *
  **********************************************/
.contact {
  padding: 7rem 0;
  background: url("../images/accent_bottom_wave_01.png") bottom/contain no-repeat;
}

.contact__img {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .contact__img {
    margin-top: 5rem;
    width: 70%;
  }
}

.contact-col {
  margin-left: 8.5rem;
}

@media only screen and (max-width: 992px) {
  .contact-col {
    margin-left: 0;
  }
}

.contact-form {
  background-color: #fff;
  width: 80%;
  padding: 4rem 2.5rem 7rem;
  -webkit-box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

@media only screen and (max-width: 992px) {
  .contact-form {
    margin-top: 5rem;
    width: 100%;
  }
}

.contact-form-title {
  margin-bottom: 3.5rem;
  font-size: 4rem;
  font-weight: 700;
}

@media only screen and (max-width: 992px) {
  .contact-form-title {
    font-size: 3rem;
  }
}

.contact-form input,
.contact-form select {
  border-radius: 999px;
  font-size: 1.2rem;
}

.contact-form input {
  padding: 2rem 1rem 2rem 4rem;
}

.contact-form select {
  padding: 1.3rem 4rem;
  width: 100%;
  border: 0.1rem solid #ced4da;
}

.contact-form select:focus {
  border: 0.1rem solid #ced4da;
  outline: none;
}

.contact-form textarea {
  padding: 1rem 1rem 1rem 4rem;
  font-size: 1.2rem;
  border-radius: 2rem;
}

.contact-form .btn-custom {
  margin-top: 3rem;
  padding: 1.3rem 5rem;
}

@media only screen and (max-width: 768px) {
  .contact-form .btn-custom {
    width: 100%;
  }
}

.contact .form-group {
  position: relative;
}

.contact .form-group-name > i, .contact .form-group-email > i, .contact .form-group-language > i {
  color: #b61983;
  font-size: 1.5rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.contact .form-group-description i {
  color: #b61983;
  font-size: 1.5rem;
  position: absolute;
  top: 17%;
  left: 1.2rem;
}

.contact .form-control:focus {
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 0 0.05rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 0 0.05rem rgba(0, 0, 0, 0.15);
}

/**
  * Footer
  *
  **********************************************/
.footer {
  padding: 12rem 0 21rem 0;
  background: url("../images/footer_background.jpg") center/cover no-repeat;
  font-size: 1.3rem;
  color: #fff;
}

.footer-col-2, .footer-col-3 {
  padding: 0 2rem;
}

.footer-col-4 {
  padding-left: 4rem;
}

.footer-header {
  margin-bottom: 2.6rem;
  font-weight: 700;
  font-size: 2.3rem;
}

.footer-contact-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  margin-bottom: 2.2rem;
}

.footer-contact-list i {
  margin-right: 1rem;
}

.footer-links-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}

.footer-links-list li {
  padding-bottom: 0.8rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.1);
}

.footer-links__item {
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.footer-links__item:hover {
  color: rgba(255, 255, 255, 0.7);
}

.footer-input-email {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 4.6rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.08rem;
  color: #fff;
  border: 0.1rem solid rgba(255, 255, 255, 0.1);
  border-radius: 99.9rem;
  background-color: transparent;
}

.footer-input-email::-webkit-input-placeholder {
  color: #fff;
}

.footer-input-email:-ms-input-placeholder {
  color: #fff;
}

.footer-input-email::-ms-input-placeholder {
  color: #fff;
}

.footer-input-email::placeholder {
  color: #fff;
}

.footer-input-email:focus {
  border: 0.1rem solid #fff;
  outline: none;
}

.footer .btn-custom--submit {
  width: 100%;
}

@media only screen and (max-width: 992px) {
  .footer-col-1, .footer-col-2 {
    margin-bottom: 9rem;
  }
}

@media only screen and (max-width: 992px) {
  .footer-col-2, .footer-col-3, .footer-col-4 {
    padding: 0;
  }
}

@media only screen and (max-width: 480px) {
  .footer .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .footer-col-1, .footer-col-2, .footer-col-3 {
    margin-bottom: 9rem;
  }
}
/*# sourceMappingURL=index.css.map */